* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;

}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfloat:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0
}

.clearfloat {
  zoom: 1
}
